body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.feed-flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subreddits-container {
  position: relative;
  margin: 15px auto;
  /* top: 10px; */
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-evenly;
  /* border: 1px solid black; */
}

.subreddit-button-container {
  flex-basis: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subreddit-logo {
  width: 50px;
  border-radius: 25px;
  margin-top: 10px;
}

.subreddit-button {
  border: none;
  background-color: rgba(0,0,0,0);
  font-size: smaller;
  font-weight: bold;
}

.subreddit-button:hover {
  cursor: pointer;
}

.post {
  /* margin: auto; */
  margin: 10px;
  padding-bottom: 20px;
  width: 50%;
  min-height: 100px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  transition: width 0.5s;
  /* display: flex; */
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.post.loading {
  width: 20%;
  padding-bottom: 0;
  transition: none;
}

.post-metadata > p {
  color: gray;
  font-size: 12px;
  text-align: left;
  margin-left: 15px;
}

.post-title, .post-content {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  visibility: hidden;
  animation-name: makePostVisible;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-delay: 0.75s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  word-wrap: break-word;
}

.post-title {
  letter-spacing: 0.2px;
}

/* .post-content { */
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
/* } */

/* .post-content > img, .post-content > iframe {
  margin: auto;
  text-align: center;
  /* width: 60% !important; */
/* /* }  */

.post-content.media {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

.post-content.media > img {
  min-width: 70%;
}

label {
  font-size: smaller;
  font-weight: bold;
}

.show-more-container, .show-less-container {
  display: flex;
  justify-content: center;
}

.show-more-icon, .show-less-icon {
  width: 15px;
  transition: transform 0.3s;
}

.show-less-icon {
  transform: rotate(180deg);
}

.show-more-button, .show-less-button {
  /* display: none; */
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: smaller;
}

.show-more-button:hover, .show-less-button:hover {
  cursor: pointer;
}

.loading-icon {
  width: 15px;
  /* align-self: center; */
  /* justify-self: center; */
  position: relative;
  top: 40px;
  animation: loadingSpin 0.75s forwards infinite;
}

@keyframes loadingSpin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes makePostVisible {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}